body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#tasks {
    display: flex;
    justify-content: space-between;
}

#tasks div {
    flex: 1;
    margin-right: 20px;
}

#tasks div:last-child {
    margin-right: 0;
}

h2 {
    color: #555;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li.completed {
    /*text-decoration: line-through;*/
    background-color: #e0e0e0;
}

button.complete-btn {
    background-color: #28a745;
}

button.complete-btn:hover {
    background-color: #218838;
}

button.delete-btn {
    background-color: #dc3545;
}

button.delete-btn:hover {
    background-color: #c82333;
}